
/*-------------------------------*/
/*           VARIABLES           */
/*-------------------------------*/

// BACKGROUND COLOR
$bg-color: #fcfcfc;

// TEXT COLOR
$text-color: #fff;

// SIDEBAR LINK COLOR
$side-color-1: #1a1a1a;


// HAMBURGER COLOR
$hamburger-color-closed: fadeout(#1a1a1a, 30);
$hamburger-color-open: #1a1a1a;

// WIDTH VARIABLES
$width1: 220px;
$width2: 100px;
$full-width: 100%;

// HEIGHT VARIABLES
$full-height: 100%;
