
/*-------------------------------*/
/*           VARIABLES           */
/*-------------------------------*/

// BACKGROUND COLOR
$bg-color: #fcfcfc;

// TEXT COLOR
$text-color: #fff;

// WIDTH VARIABLES
$width1: 220px;
$width2: 100px;
$full-width: 100%;

// HEIGHT VARIABLES
$full-height: 100%;


