@import '_bootstrap.scss';
@import '_bootstrap-compass.scss';
@import '_bootstrap-mincer.scss';
@import '_bootstrap-sprockets.scss';
@import '_variables.scss';



body {
    position: relative;
    overflow-x: hidden;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
body,
html {
    height: $full-height;
    background-color: $bg-color;
}


.nav {
    .open>a {
        background-color: transparent;
        &:hover {
            background-color: transparent;
        }
        &:focus {
            background-color: transparent;
        }
    }
}


/*-------------------------------*/
/*           Preloader           */
/*-------------------------------*/

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: #f2f3f4;
    z-index:999;
}

#preloader-logo {
    width:500px;
    height:500px;
    position:absolute;
    left:50%;
    top:50%;
    background-image:url(../images/logo/logo-alierons.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size: contain;
    margin:-250px 0 0 -250px;
    
}

/*---------------------------------------------------------------*/
/*                              HEADER                           */
/*---------------------------------------------------------------*/

header {
    background-image: url(../Images/pic01_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header-logo {
    
    img {
        float: right;
        width: 25%;
        height: 20%;
        padding-right: 25px;
    }
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    padding-left: 0;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 220px;
    #sidebar-wrapper {
        width: $width1;
    }
    #page-content-wrapper {
        margin-right: -220px;
        position: absolute;
    }
}
#sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    background: $side-color-1;
    height: $full-height;
    left: 220px;
    margin-left: -220px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
    &::-webkit-scrollbar {
        display: none;
    }
}
#page-content-wrapper {
    padding-top: 70px;
    width: $full-width;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: $width1;
    
    p, li > a {
        color: #dddddd;
        display: block;
        padding: 10px 15px 10px 30px;
        text-decoration: none; 
    }
    
    li {
        display: inline-block;
        line-height: 20px;
        position: relative;
        width: $full-width;
        &:before {
            background-color: #2f2f2f;
            content: '';
            height: $full-height;
            left: 0;
            position: absolute;
            top: 0;
            transition: width .2s ease-in;
            width: 3px;
            z-index: -1;
        }
       
        
        &:hover {
            &:before {
                transition: width .2s ease-in;
                width: $full-width;
            }
        }
    }
    li.open {
        &:hover {
            before {
                transition: width .2s ease-in;
                width: $full-width;
            }
        }
    }
    .dropdown-menu {
        background-color: #222222;
        border-radius: 0;
        border: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        position: relative;
        width: $full-width;
    }
}
.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
}
.sidebar-nav>.sidebar-brand {
    font-size: 20px;
    height: 65px;
    line-height: 44px;
}


/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
    background: transparent;
    border: none;
    display: block;
    height: 32px;
    margin-left: 15px;
    position: fixed;
    top: 20px;
    width: 32px;
    z-index: 999;
    &:hover {
        outline: none;
    }
    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
    }
}
.hamburger.is-closed {
    &:before {
        -webkit-transform: translate3d(0,0,0);
        -webkit-transition: all .35s ease-in-out;
        color: #ffffff;
        content: '';
        display: block;
        font-size: 14px;
        line-height: 32px;
        opacity: 0;
        text-align: center;
        width: $width2;
    }
    &:hover {
        before {
            -webkit-transform: translate3d(-100px,0,0);
            -webkit-transition: all .35s ease-in-out;
            display: block;
            opacity: 1;
        }
        .hamb-top {
            -webkit-transition: all .35s ease-in-out;
            top: 0;
        }
        .hamb-bottom {
            -webkit-transition: all .35s ease-in-out;
            bottom: 0;
        }
    }
    .hamb-top {
        -webkit-transition: all .35s ease-in-out;
        top: 5px;
    }
    .hamb-middle {
        margin-top: -2px;
        top: 50%;
    }
    .hamb-bottom {
        -webkit-transition: all .35s ease-in-out;
        bottom: 5px;
    }
}
.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom  {
    height: 4px;
    left: 0;
    position: absolute;
    width: $full-width;
    background-color: $hamburger-color-open;
}
.hamburger.is-open {
    .hamb-top {
        -webkit-transform: rotate(45deg);
        -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
        
        margin-top: -2px;
        top: 50%;
    }
    .hamb-middle {
        display: none;
    }
    .hamb-bottom {
        -webkit-transform: rotate(-45deg);
        -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
        margin-top: -2px;
        top: 50%;
    }
    &:before {
        -webkit-transform: translate3d(0,0,0);
        -webkit-transition: all .35s ease-in-out;
        color: #ffffff;
        content: '';
        display: block;
        font-size: 14px;
        line-height: 32px;
        opacity: 0;
        text-align: center;
        width: $width2;
    }
    &:hover {
        before {
            -webkit-transform: translate3d(-100px,0,0);
            -webkit-transition: all .35s ease-in-out;
            display: block;
            opacity: 1;
        }
    }
}

/*-------------------------------*/
/*          Dark Overlay         */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: $full-width;
    height: $full-height;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 1;
}

/*-------------------------------*/
/*          Image-Map            */
/*-------------------------------*/

.image-map{
    
    width: 70%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    
}